<launch>
    <!-- <node pkg="cv_camera" type="cv_camera_node" name="camera">
        <param name="image_width" value="640"/>
        <param name="image_height" value="480"/>
        <param name="rate" value="20"/>
    </node> -->
    <!-- <node pkg="urg_node" type="urg_node" name="daart_hokuyo" output="screen"/> -->
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />


    #### ODOM PUBLISHES ####
    <!-- <node pkg="daart" type="daart_odom_imu_node" name="daart_odom_imu_node" />  -->
    <node pkg="daart" type="daart_odom_node" name="daart_odom_node" output="screen">
        <param name="robotX" value="7.0" />
        <param name="robotY" value="5" />
        <param name="robotTh" value="0" />
    </node>
    <!-- <node pkg="daart" type="daart_odom_node2" name="daart_odom_node2" /> -->

    <include file="$(find daart)/launchers/odom_scan.launch" />


    #### SPEED CONTROLS PUBLISHES ####
    <!--<node pkg="daart" type="daart_speed_control_node" name="daart_speed_control_node" output="screen" />-->
    <!--<node pkg="daart" type="daart_speed_control_node2" name="daart_speed_control_node2" output="screen">
        <param name="rate" value="0.007" />
    </node>-->
    <!-- <node pkg="daart" type="daart_speed_control_node2_1" name="daart_speed_control_node2_1" output="screen">
        <param name="bumpingTime" value="100000" />
        <param name="bumpingShift" value="5" />
        <param name="minDeadZone" value="-25" />
        <param name="maxDeadZone" value="25" />
        <param name="minHystZone" value="-40" />
        <param name="maxHystZone" value="40" />
        <param name="minZone" value="-100" />
        <param name="maxZone" value="100" />
        <param name="rate" value="0.007" />
    </node> -->
    <node pkg="daart" type="daart_speed_control_node2_2" name="daart_speed_control_node2_2" output="screen">
        <param name="bumpingTime" value="100000" />
        <param name="bumpingShift" value="5" />
        <param name="minDeadZone" value="-25" />
        <param name="maxDeadZone" value="25" />
        <param name="minHystZone" value="-40" />
        <param name="maxHystZone" value="40" />
        <param name="minZone" value="-100" />
        <param name="maxZone" value="100" />
        <param name="rate" value="0.022" />
    </node>
    <!--<node pkg="daart" type="daart_speed_control_node3" name="daart_speed_control_node3" output="screen" />-->
    <!--<node pkg="razor_imu_9dof" type="imu_node.py" name="imu_node" output="screen">
        <rosparam file="$(find daart)/config/razor.yaml" command="load"/>
    </node>-->


    #### TF PUBLISHES ####
    <node pkg="tf" type="static_transform_publisher" name="baselnk2odom" args="0 0 0 0 0 0  odom base_link 1000" />
    <node pkg="tf" type="static_transform_publisher" name="lasercopy2odom2odomscan" args="0 0 0 0 0 0  odom_scan laser_copy2odom 1000" />
    <node pkg="tf" type="static_transform_publisher" name="laser2baselink" args="0 0 0 0 0 0  base_link laser 1000" />
</launch>
