<launch>
	<arg name="cmd_vel" default="cmd_vel" />
	<arg name="teleop_config" default="$(find daart)/config/joy_teleop.yaml" />
	<rosparam file="$(arg teleop_config)" command="load" />

	<node pkg="joy" type="joy_node" name="joy_node" />
  <node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop">
    <remap from="cmd_vel" to="$(arg cmd_vel)" />
  </node>
</launch>
