<launch>
    <!-- <arg name="bagfile" default="/home/schvarcz/Dropbox/Doutorado-ENSTA/Daart/DaartTests/2017-05-13/2017-05-13-15-33-11-atan.bag" />-->
    <arg name="bagfile" default="/home/schvarcz/Dropbox/Doutorado-ENSTA/Daart/DaartTests/2017-07-20/2016-02-11-20-19-14-b.bag" />
    <param name="use_sim_time" value="True"/>
    <node pkg="rqt_bag" type="rqt_bag" name="rqt_bag" output="screen" args="$(arg bagfile) --clock"  />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find daart)/config/config-rosbag.rviz" />
    <!-- <node pkg="tf" type="static_transform_publisher" name="odom2map" args="0 0 0 0 0 0  map odom 1000" /> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="odomimu2map" args="0 0 0 0 0 0  map odom_imu 1000" /> -->
    <node pkg="tf" type="static_transform_publisher" name="baselnk2odom" args="0 0 0 0 0 0  odom base_link 1000" />
    <node pkg="tf" type="static_transform_publisher" name="lasercopy2odom2odomscan" args="0 0 0 0 0 0  odom_scan laser_copy2odom 1000" />
    <node pkg="tf" type="static_transform_publisher" name="laser2baselink" args="0 0 0 0 0 0  base_link laser 1000" />
    <!-- <node pkg="tf" type="static_transform_publisher" name="imu2map" args="0 0 0 0 0 0  base_link base_imu_link 1000" /> -->
    <include file="$(find daart)/launchers/odom_scan.launch" />
</launch>
